/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  position: absolute;
  color: black;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* container */

#container {
  background: white;
  border: 2px solid black;
  width: 50dvw;
  place-content: center;
  text-decoration: none;
}

/* page scroll */

.scrollContainer {
  display: flex;
  text-decoration: none;
}

.pageScroll {
  text-decoration: none;
  
}

.pageScroll li {
  text-decoration: none;
  
}

@media (min-width: 988px) {

  /* home */

  #home {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(120deg, skyblue 38%, black 5%);


  }

  .button {
    border: 1px solid white;
    border-radius: .5rem;
    max-width: fit-content;
    padding: 0 .25rem;
  }

  #gold {
    background-color: rgb(255, 185, 29);
  }

  #darkPurple {
    background-color: rgb(94, 39, 80);
  }

  #darkGreen {
    background-color: rgb(0, 84, 80);
  }

  #red {
    background-color: rgb(237, 28, 36);
  }

  #purple {
    background-color: rgb(125, 63, 152);
  }

  #blue {
    background-color: rgb(0, 24, 113);
  }

  #skyBlue {
    background: skyblue;
  }

  #home nav {
    background: black;
    font-size: .75rem;
    min-height: 2rem;
    max-width: 90dvw;
    padding-top: .1px;
  }

  #home nav ul {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
  }
  #home nav ul li {
    text-decoration: none;
  }

  #home nav ul li a{
    text-decoration: none;
    color: white;
  }

  #mainHome {
    display: flex;
    padding-top: 1rem;
    padding-left: 5rem;
  }

  /* Home Video */

  #videoContainer, #homeText {
    flex: 1;
    flex-basis: 100%;
    place-items: center;
    place-content: center;
    padding: 0 1em;
  }

  #textContainer {
    margin-left: 3rem;
  }

  #videoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 50dvw;
    min-height: 90dvh;
    padding: 1rem;
    column-count: 2;
    margin: 1rem;
    border-radius: 1rem;
  }

  .videoBox {
    max-width: 60%;
    min-height: 100%;
    gap: 1rem;
    row-gap: 1rem;
  }

  .video {
    border-radius: 1rem;
    border: 2px solid white;
    max-width: 125%;

  }

  .video2, .video5, .video6 {
    margin-left: -1rem
  }

  .video3, .video5 {
    margin-bottom: -3rem;
    margin-left: 2rem;
  }

  .video1, .video2 {
    margin-bottom: -3rem;
  }

  #textContainer {
    margin-top: 5rem;
  }

  #homeText {
    color: skyblue;
    place-items: center;
    max-width: 40dvw;
    padding-right: 6rem;
    margin-left: -3rem;
  }

  #hamburgerNav {
    display: none;
  }

  /* American National */

  #americanNational {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(90deg, rgb(255, 185, 29) 70%, rgb(23, 23, 84) 5%);
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    color: white;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .americanMain {
    text-align: center;
    flex: 1;
    min-height: 85dvh;
    max-width: 90dvw;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    place-content: center;
  }

  .americanText, .faqSection {
    max-width: 90dvw;
  }

  .faqSection {
    display: flex;
    place-content: center;
  }

  .faqSection ul {
    text-align: left;
    place-items: center;
  }

  .contactIcons {
    place-content: center;
  }

  .contactIconsSml {
    display: none;
  }

  .americanText a {
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .fa {
    text-decoration: none;
    color: white;
    padding-left: 3rem;
  }

  .scrollContainer ul {
    text-decoration: none;
  }

  .pageScrolls {
    text-decoration: none;
    display: flex;
    color: gold;
  }

  /* Foresters */

  #foresters {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(120deg, rgb(74, 15, 82) 35%, rgb(69, 132, 123) 5%);
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    color: white;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .forestersMain {
    text-align: center;
    flex: 1;
    min-height: 85dvh;
    max-width: 90dvw;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    place-content: center;
  }

  .forestersText, .faqSection {
    max-width: 90dvw;
  }

  .faqSection {
    display: flex;
    place-content: center;
  }

  .faqSection ul {
    text-align: left;
    place-items: center;
  }

  .contactIcons {
    place-content: center;
  }

  .contactIconsSml {
    display: none;
  }

  .forestersText a {
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .fa {
    text-decoration: none;
    color: white;
    padding-left: 3rem;
  }

  .scrollContainer ul {
    text-decoration: none;
  }

  .pageScrolls {
    text-decoration: none;
    display: flex;
    color: gold;
  }

  /* Illinois Mutual */

  #illinoisMutual {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(to bottom, rgb(40, 89, 82) 75%, black 5%);
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    color: white;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .illinoisMain {
    text-align: center;
    flex: 1;
    min-height: 100dvh;
    max-width: 85dvw;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    place-content: center;
  }

  .illinoisText, .faqSection {
    max-width: 90dvw;
  }

  .faqSection {
    display: flex;
    place-content: center;
  }

  .faqSection ul {
    text-align: left;
    place-items: center;
  }

  .contactIcons {
    place-content: center;
  }

  .contactIconsSml {
    display: none;
  }

  .illinoisText a {
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .fa {
    text-decoration: none;
    color: white;
    padding-left: 3rem;
  }

  .scrollContainer ul {
    text-decoration: none;
  }

  .pageScrolls {
    text-decoration: none;
    display: flex;
    color: gold;
  }

  /* Transamerica */

  #transamerica {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(140deg, red 40%, black);
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    color: white;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .transamericaMain {
    text-align: center;
    flex: 1;
    min-height: 85dvh;
    max-width: 90dvw;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    place-content: center;
  }

  .transamericaText, .faqSection {
    max-width: 90dvw;
  }

  .faqSection {
    display: flex;
    place-content: center;
  }

  .faqSection ul {
    text-align: left;
    place-items: center;
  }

  .contactIcons {
    place-content: center;
  }

  .contactIconsSml {
    display: none;
  }

  .transamericaText a {
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .fa {
    text-decoration: none;
    color: white;
    padding-left: 3rem;
  }

  .scrollContainer ul {
    text-decoration: none;
  }

  .pageScrolls {
    text-decoration: none;
    display: flex;
    color: gold;
  }

  /* Aetna */

  #aetna {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(to right, rgb(135, 78, 154) 40%, rgb(180, 207, 236));
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    color: white;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .aetnaMain {
    text-align: center;
    flex: 1;
    min-height: 85dvh;
    max-width: 90dvw;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    place-content: center;
  }

  .aetnaText, .faqSection {
    max-width: 90dvw;
  }

  .faqSection {
    display: flex;
    place-content: center;
  }

  .faqSection ul {
    text-align: left;
    place-items: center;
  }

  .contactIcons {
    place-content: center;
  }

  .contactIconsSml {
    display: none;
  }

  .aetnaText a {
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .fa {
    text-decoration: none;
    color: white;
    padding-left: 3rem;
  }

  .scrollContainer ul {
    text-decoration: none;
  }

  .pageScrolls {
    text-decoration: none;
    display: flex;
    color: gold;
  }

  /* AIG */

  #aig {
    min-height: 100dvh;
    max-width: 100dvw;
    background: rgb(34, 43, 225);
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    color: white;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .aigMain {
    text-align: center;
    flex: 1;
    min-height: 85dvh;
    max-width: 90dvw;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    place-content: center;
  }

  .aigText, .faqSection {
    max-width: 90dvw;
  }

  .faqSection {
    display: flex;
    place-content: center;
  }

  .faqSection ul {
    text-align: left;
    place-items: center;
  }

  .contactIcons {
    place-content: center;
  }

  .contactIconsSml {
    display: none;
  }

  .aigText a {
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .fa {
    text-decoration: none;
    color: white;
    padding-left: 3rem;
  }

  .scrollContainer ul {
    text-decoration: none;
  }

  .pageScrolls {
    text-decoration: none;
    display: flex;
    color: gold;
  }

  #contactMe {
    min-height: 90dvh;
    max-width: 100dvw;
    background: black;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    color: skyblue;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    place-items: center;
  }

  .contactMain {
    text-align: center;
    flex: 1;
    min-height: 85dvh;
    max-width: 80dvw;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    place-items: center;
  }

  .contactText, .contactBox {
    max-width: 90dvw;
  }

  .contactBox {
    margin-left: 3rem;
    display: flex;
  }

  .contactBox img {
    border: 2px solid skyblue;
    border-radius: 1rem;
    max-width: 30%;
  }

  .contactBox video {
    margin-left: 2rem;
    max-width: 30%;
    border: 2px solid skyblue;
    border-radius: 1rem;
  }

  .contactIcons {
    place-content: center;
  }

  .contactIconsSml {
    display: none;
  }

  .contactText a {
    margin-top: 2rem;
    margin-left: 4rem;
  }

  #contactMe .fa {
    text-decoration: none;
    color: skyblue;
    padding-left: 3rem;
  }

  .scrollContainer ul {
    text-decoration: none;
  }

  .pageScrolls {
    text-decoration: none;
    display: flex;
    color: gold;
  }


    /* footer */


  #footer {
    max-width: 100dvw;
    min-height: 10dvh;
    background: skyblue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    text-decoration: none;

  }
  #footer .icons {
    display: flex;
    text-decoration: none;
    gap: 1rem;
  }

  .icons li {
    text-decoration: none;
  }

  .icons a {
    text-decoration: none;
    color: black;
  }

} 

@media (min-width: 955px) and (max-width: 987px) {

  /* home */

  #home {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(120deg, skyblue 38%, black 5%);


  }

  .button {
    border: 1px solid white;
    border-radius: .5rem;
    max-width: fit-content;
    padding: 0 .25rem;
  }

  #gold {
    background-color: rgb(255, 185, 29);
  }

  #darkPurple {
    background-color: rgb(94, 39, 80);
  }

  #darkGreen {
    background-color: rgb(0, 84, 80);
  }

  #red {
    background-color: rgb(237, 28, 36);
  }

  #purple {
    background-color: rgb(125, 63, 152);
  }

  #blue {
    background-color: rgb(0, 24, 113);
  }

  #home nav {
    background: black;
    font-size: .75rem;
    min-height: 2rem;
    max-width: 90dvw;
    padding-top: .1px;
  }

  #home nav ul {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
  }
  #home nav ul li {
    text-decoration: none;
  }

  #home nav ul li a{
    text-decoration: none;
    color: white;
  }

  #mainHome {
    display: flex;
    padding-top: 1rem;
    padding-left: 5rem;
  }

  /* Home Video */

  #videoContainer, #homeText {
    flex: 1;
    flex-basis: 100%;
    place-items: center;
    place-content: center;
    padding: 0 1em;
  }

  #videoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 50dvw;
    min-height: 90dvh;
    padding: 1rem;
    column-count: 2;
    margin: 1rem;
    border-radius: 1rem;
  }

  .videoBox {
    max-width: 40%;
    min-height: 100%;
  }

  .video {
    border-radius: 1rem;
    border: 2px solid white;
    max-width: 125%;

  }

  .video2, .video5, .video6 {
    margin-left: -5rem;
  }

  .video1, .video2, .video4 {
    margin-right: .5rem;
    row-gap: .5rem;
  }

  .video5 {
    margin-left: -2rem;
    margin-bottom: -5rem;
  }
  .video1, .video2 {
    margin-bottom: -8rem;
  }

  .video3 {
    margin-left: 3rem;
    margin-bottom: -5rem;
  }

  #textContainer {
    margin-top: 8rem;
  }

  #homeText {
    font-size: .75rem;
    color: skyblue;
    place-items: center;
    max-width: 40dvw;
    padding-right: 6rem;
    margin-left: -3rem;
  }

  #hamburgerNav {
    display: none;
  }

   /* American National */

   #americanNational {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(90deg, rgb(255, 185, 29) 70%, rgb(23, 23, 84) 5%);
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    color: white;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .americanMain {
    text-align: center;
    flex: 1;
    min-height: 100dvh;
    max-width: 90dvw;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    place-content: center;
  }

  .americanText, .faqSection {
    max-width: 90dvw;
  }

  .faqSection {
    display: flex;
    place-content: center;
  }

  .faqSection ul {
    text-align: left;
    place-items: center;
  }

  .contactIcons {
    place-content: center;
  }

  .contactIconsSml {
    display: none;
  }

  .americanText a {
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .fa {
    text-decoration: none;
    color: white;
    padding-left: 3rem;
  }

  .scrollContainer ul {
    text-decoration: none;
  }

  .pageScrolls {
    text-decoration: none;
    display: flex;
    color: gold;
  }

  /* Forester */

  #forester {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(to right, orange 20%, rgb(63, 56, 56));
  }

  /* Illinois Mutual */

  #illinoisMutual {
    min-height: 100dvh;
    max-width: 100dvw;
  }

  /* Transamerica */

  #transamerica {
    min-height: 100dvh;
    max-width: 100dvw;
  }

  /* Aetna */

  #aetna {
    min-height: 100dvh;
    max-width: 100dvw;
  }

  /* AIG */

  #aig {
    min-height: 100dvh;
    max-width: 100dvw;
  }

  /* footer */
}

@media (min-width: 600px) and (max-width: 954px) {

  /* home */

  #home {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(120deg, black 50%, skyblue 5%);


  }

  .button {
    border: 1px solid white;
    border-radius: .5rem;
    max-width: fit-content;
    padding: 0 .25rem;
  }

  #gold {
    background-color: rgb(255, 185, 29);
  }

  #darkPurple {
    background-color: rgb(94, 39, 80);
  }

  #darkGreen {
    background-color: rgb(0, 84, 80);
  }

  #red {
    background-color: rgb(237, 28, 36);
  }

  #purple {
    background-color: rgb(125, 63, 152);
  }

  #blue {
    background-color: rgb(0, 24, 113);
  }

  #home nav {
    background: black;
    font-size: .75rem;
    min-height: 2rem;
    max-width: 90dvw;
    padding-top: .1px;
  }

  #home nav ul {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
  }
  #home nav ul li {
    text-decoration: none;
  }

  #home nav ul li a{
    text-decoration: none;
    color: white;
  }

  /* hamburgerMenu */

.hamburgerMenu{
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.hamburgerIcon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburgerIcon span{
  width: 100%;
  height: 2px;
  background-color: skyblue;
  transition: all 0.3 ease-in-out;
}

.menuLinks{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  opacity: 50%;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menuLinks a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  color: skyblue;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menuLinks li{
  list-style: none;
}

.menuLinks.open{
  max-height: 250px;
}

.menuLinks.open a:hover{
  text-decoration: underline;
  color: skyblue;
}

.hamburgerIcon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburgerIcon.open span:nth-child(2) {
  opacity: 0;
}

.hamburgerIcon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburgerIcon span:first-child{
  transform: none;
}

.hamburgerIcon span:nth-child(2) {
  opacity: 1;
}

.hamburgerIcon span:last-child{
  transform: none;
}

  .desktopNav {
    display: none;
  }

  #mainHome {
    border: 1px solid hotpink;
    display: flex;
    flex-direction: column-reverse;
    max-width: 100dvw;
    place-content: center;
    place-items: center;
  }

  /* Home Video */

  #videoContainer, #homeText {
    border: 1px solid firebrick;
    place-content: center;
    justify-content: center;
    flex: 1;
    flex-basis: 100%;
    place-items: center;
    place-content: center;
    padding: 0 1em;
    margin-left: 2rem;
  }

  #textContainer {
    border: 1px solid olivedrab;
    margin-left: 10rem;
    min-width: 90dvw;
    place-content: center;
    place-items: center;
    flex: 1;
  }

  .logoVideo {
    min-width: fit-content;
    flex: 1;
    border: 1px solid olivedrab;
    min-width: 90dvw;
    place-content: center;
    justify-content: center;
  }

  #videoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 50dvw;
    min-height: 90dvh;
    padding: 1rem;
    column-count: 2;
    margin: 1rem;
    border-radius: 1rem;
  }

  .videoBox {
    place-items: center;
    max-width: 80%;
    min-height: 100%;
  }

  .video {
    border-radius: 1rem;
    border: 2px solid white;
    max-width: 100%;

  }

  .video5, .video4, .video6 {
    margin-top: -8rem;
    margin-left: 3rem;
  }

  .video1, .video2, .video3 {
    margin-bottom: -8rem;
  }

  .video5, .video4, .video6 {
    margin-top: -15rem;
  }

  #textContainer {
    margin-top: 8rem;
  }

  #homeText {
    font-size: .75rem;
    color: white;
    place-items: center;
    max-width: 40dvw;
  }

  /* American National */

  #americanNational {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(90deg, rgb(255, 185, 29) 70%, rgb(23, 23, 84) 5%);
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    color: white;
    font-size: .75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .americanMain {
    text-align: center;
    flex: 1;
    min-height: 100dvh;
    max-width: 90dvw;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    place-content: center;
  }

  .americanText, .faqSection {
    max-width: 90dvw;
  }

  .faqSection {
    display: flex;
    place-content: center;
  }

  .faqSection ul {
    text-align: left;
    place-items: center;
  }

  .contactIcons {
    place-content: center;
    font-size: .75rem;
  }

  .contactIconsLg {
    display: none;
  }

  .americanText a {
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .fa {
    text-decoration: none;
    color: white;
    padding-left: 3rem;
  }

  .scrollContainer ul {
    text-decoration: none;
  }

  .pageScrolls {
    text-decoration: none;
    display: flex;
    color: gold;
  }

  /* Forester */

  #forester {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(to right, orange 20%, rgb(63, 56, 56));
  }

  /* Illinois Mutual */

  #illinoisMutual {
    min-height: 100dvh;
    max-width: 100dvw;
  }

  /* Transamerica */

  #transamerica {
    min-height: 100dvh;
    max-width: 100dvw;
  }

  /* Aetna */

  #aetna {
    min-height: 100dvh;
    max-width: 100dvw;
  }

  /* AIG */

  #aig {
    min-height: 100dvh;
    max-width: 100dvw;
  }

  /* footer */
}
@media (max-width: 599px) {

  /* home */

  #home {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(120deg, black 50%, skyblue 5%);


  }

  .button {
    border: 1px solid white;
    border-radius: .5rem;
    max-width: fit-content;
    padding: 0 .25rem;
  }

  #gold {
    background-color: rgb(255, 185, 29);
  }

  #darkPurple {
    background-color: rgb(94, 39, 80);
  }

  #darkGreen {
    background-color: rgb(0, 84, 80);
  }

  #red {
    background-color: rgb(237, 28, 36);
  }

  #purple {
    background-color: rgb(125, 63, 152);
  }

  #blue {
    background-color: rgb(0, 24, 113);
  }

  #home nav {
    background: black;
    font-size: .75rem;
    min-height: 2rem;
    max-width: 90dvw;
    padding-top: .1px;
  }

  #home nav ul {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
  }
  #home nav ul li {
    text-decoration: none;
  }

  #home nav ul li a{
    text-decoration: none;
    color: white;
  }

  /* hamburgerMenu */

.hamburgerMenu{
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;

}

.hamburgerIcon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburgerIcon span{
  width: 100%;
  height: 2px;
  background-color: skyblue;
  transition: all 0.3 ease-in-out;
}

.menuLinks{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  opacity: 50%;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menuLinks a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  color: skyblue;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menuLinks li{
  list-style: none;
}

.menuLinks.open{
  max-height: 250px;
}

.menuLinks.open a:hover{
  text-decoration: underline;
  color: skyblue;
}

.hamburgerIcon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburgerIcon.open span:nth-child(2) {
  opacity: 0;
}

.hamburgerIcon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburgerIcon span:first-child{
  transform: none;
}

.hamburgerIcon span:nth-child(2) {
  opacity: 1;
}

.hamburgerIcon span:last-child{
  transform: none;
}

  .desktopNav {
    display: none;
  }

  #mainHome {
    display: flex;
    flex-direction: column-reverse;
    max-width: 90dvw;
    margin: 1rem auto;
    padding-top: 1rem;
    padding-left: 5rem;
  }

  /* Home Video */

  #videoContainer, #homeText, #textContainer {
    place-content: center;
    justify-content: center;
    flex: 1;
    flex-basis: 100%;
    place-items: center;
    place-content: center;
    padding: 0 1em;
    margin-left: 2rem;
  }

  #textContainer {
    margin-left: 6rem;
  }

  .logoVideo {
    margin-left: 7rem;
  }

  #videoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 50dvw;
    min-height: 90dvh;
    padding: 1rem;
    column-count: 2;
    margin: 1rem;
    border-radius: 1rem;
  }

  .videoBox {
    place-items: center;
    max-width: 80%;
    min-height: 100%;
  }

  .video {
    border-radius: 1rem;
    border: 2px solid white;
    max-width: 100%;

  }

  .video5, .video4, .video6 {
    margin-top: -8rem;
    margin-left: 3rem;
  }

  .video1, .video2, .video3 {
    margin-bottom: -8rem;
  }

  .video5, .video4, .video6 {
    margin-top: -15rem;
  }

  #textContainer {
    margin-top: 8rem;
  }

  #homeText {
    font-size: .5rem;
    color: white;
    place-items: center;
    max-width: 40dvw;
  }

  /* American National */

  #americanNational {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(90deg, rgb(255, 185, 29) 70%, rgb(23, 23, 84) 5%);
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    color: white;
    font-size: .75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .americanMain {
    text-align: center;
    flex: 1;
    min-height: 100dvh;
    max-width: 90dvw;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    place-content: center;
  }

  .americanText, .faqSection {
    max-width: 90dvw;
  }

  .faqSection {
    display: flex;
    place-content: center;
  }

  .faqSection ul {
    text-align: left;
    place-items: center;
  }

  .contactIcons {
    place-content: center;
  }
  
  .contactIconsLg {
    display: none;
  }

  .americanText a {
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .fa {
    text-decoration: none;
    color: white;
    padding-left: 3rem;
  }

  .scrollContainer ul {
    text-decoration: none;
  }

  .pageScrolls {
    text-decoration: none;
    display: flex;
    color: gold;
  }

  /* Forester */

  #forester {
    min-height: 100dvh;
    max-width: 100dvw;
    background: linear-gradient(to right, orange 20%, rgb(63, 56, 56));
  }

  /* Illinois Mutual */

  #illinoisMutual {
    min-height: 100dvh;
    max-width: 100dvw;
  }

  /* Transamerican */

  #transamerican {
    min-height: 100dvh;
    max-width: 100dvw;
  }

  /* Aetna */

  #aetna {
    min-height: 100dvh;
    max-width: 100dvw;
  }

  /* AIG */

  #aig {
    min-height: 100dvh;
    max-width: 100dvw;
  }

  /* footer */
}